@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  padding: .5em;
  height: 100%;
  background-color: #e1eef6;
}

header {
  display: flex;
  padding-bottom: 1em;
}

header > div {
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  margin: 0;
  display: inline-block;
}

h1 span:first-child {
  color: #34314c;
}

h1 span:last-child {
  color: #47b8e0;
}

button {
  display: block;
  border: 0;
  background-color: #34314c;
  color: white;
  padding: .5em;
  font-size: .9em;
  height: 100%;
  cursor: pointer;
}

#root,
#root > div,
#root > div > div {
  height: 100%;
}

.quick-chat-app {
  max-width: 50em;
  margin: 0 auto;
  height: 100%;
}

.title button {
  margin-top: .75em;
}

.username {
  flex-grow: 1;
  text-align: right;
  margin-bottom: 0;
}

.username input {
  text-align: right;
  border: 0;
  border: none;
  margin-top: .25em;
  background-color: #34314c;
  color: white;
  padding: .5em;
  font-size: .9em;
}

.username p {
  margin: 0;
}

.chat-window {
  padding: 0;
  border: 1px solid #e3dede;
  overflow-y: scroll;
  position: relative;
  padding: .5em;
  height: 70%;
  min-height: 200px;
  background-color: white;
}

.users-info {
  flex-direction: column;
  margin: 0;
}

.users-typing,
.users-list {
  display: block;
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
}

.users-typing {
  font-style: italic;
  color: gray;
  padding-top: .5em;
  height: 1em;
}

.message-input-bar {
  display: flex;
  height: 3em;
}

.message-input-bar input {
  flex-grow: 1;
  padding-left: .5em;
  font-size: .9em;
  background-color: white;
}

.message-input-bar button {
  padding-left: 2em;
  padding-right: 2em;
}

.message-username {
  background: #34314c;
  color: white;
  padding: .25em .5em;
  text-align: left;
  width: 30%;
  margin-top: 1em;
}

.message-own:first-child .message-username,
.message-other:first-child .message-username {
  margin-top: 0;
}

.message-other .message-username {
  background-color: #47b8e0;
}

.message-content {
  padding-top: .5em;
  padding-left: .5em;
}